.all-collections {
    display: flex;
    align-items: center;
    background-color: $primaryColor;
    min-width: 260px;   
}
.all-collections-link {

}
.all-collections-name {
    font-size: 16px;
    line-height: 19px;
    margin: 0 auto;
}