.admin-categories {
    margin: 0 20px;
}

.admin-categories-item {
    h3 {
        margin-left: 20px;
        color: white;
    }
    span {
        color: white;
        font-size: 20px;
        margin: 0 15px;
    }
}

.all-categories-item {
    margin: 10px;
}